<section>
<footer class="footer section section-sm">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-7 offset-md-1 offset-lg-0">
                <div class="block about">
                    <img th:src="@{/images/homelogo.png}" alt="" width="250" height="150">
                </div>
            </div>
            <div class="col-lg-4 col-md-7">
                <!-- App promotion -->
                <div class="block-2 app-promotion">
                    <div class="mobile d-flex">
                        <a href="">
                            <!-- Icon -->
                            <img th:src="@{/images/phone-icon.png}" alt="">
                        </a>
                        <p>Responsive design for Library application</p>
                    </div>
                    <div class="download-btn d-flex my-3">
                        <a href="#"><img th:src="@{/images/google-play-store.png}" class="img-fluid" alt=""></a>
                        <a href="#" class=" ml-3"><img th:src="@{/images/apple-app-store.png}" class="img-fluid" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-12">
                <div class="copyright">
                   <p>Copyright</p>
                </div>
            </div>
            <div class="col-sm-6 col-12">
                <ul class="social-media-icons text-right">
                    <li><a class="fa fa-facebook" href="#" target="_blank"></a></li>
                    <li><a class="fa fa-twitter" href="#" target="_blank"></a></li>
                    <li><a class="fa fa-pinterest-p" href="#" target="_blank"></a></li>
                    <li><a class="fa fa-vimeo" href=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="top-to">
        <a id="top" class="" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
</footer>
</section>