<section>

<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light navigation">
                    <a class="navbar-brand" href="index">
                        <img th:src="@{/images/homelogo.png}" alt="" width="350" height="200">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto main-nav ">
                            <li class="nav-item active">
                                <a class="nav-link" href="/home">Home</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/dashboard" sec:authorize="hasRole('ROLE_ADMIN')">Dashboard</a>

                            </li>
                            <li class="nav-item dropdown dropdown-slide">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages <span><i class="fa fa-angle-down"></i></span>
                                </a>
                                <!-- Dropdown list -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" th:href="@{/books}">Book</a>
                                    <a class="dropdown-item" th:href="@{/authors}">Author</a>
                                    <a class="dropdown-item" th:href="@{/publishers}">Publisher</a>
                                    <a class="dropdown-item" th:href="@{/user-profile}" sec:authorize="hasRole('USER')">User Profile</a>
                                    <a class="dropdown-item" th:href="@{/contact-us}" sec:authorize="hasRole('USER')">Contact Us</a>
                                    <a class="dropdown-item" th:href="@{/about-us}" sec:authorize="hasRole('USER')">About Us</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">

                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="nav-link" href="#">
                                    <th:block th:if="${#request.getRemoteUser() != null}"
                                              th:text="${#request.getRemoteUser()}"></th:block>
                                </a>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="btn btn-success btn-sm ml-3" href="/shopping-cart" sec:authorize="hasRole('USER')">
                                    <i class="fa fa-shopping-cart"></i> Cart
                                </a>
                            </li>
                            <li class="nav-item" sec:authorize="isAuthenticated()">
                                <a class="btn btn-light btn-sm ml-3" href="/logout">
                                    <i class="fas fa-sign-out-alt"></i> Logout
                                </a>
                            </li>
                            <li class="nav-item" sec:authorize="!isAuthenticated()">
                                <a class="btn btn-light btn-sm ml-3" href="/login">
                                    <i class="fas fa-sign-in-alt"></i> Login
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
</section>

