<section class="jumbotron text-center" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
  <title>LIBRARY CART</title>

  <div th:if="${hasError}">
    <h5 class="text-center text-danger" th:text="${error}"></h5>
  </div>
  <div class="container">
    <h3>Library Cart for <th:block th:text="${librarycart.getUser().getName()}"></th:block></h3>
    <hr>
    <h5 th:text="'Created on: ' + ${datecreated}"> </h5>
    <hr>
    <div class="col-12" th:if="${books.size() > 0}">

      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
          <th>Book Name</th>
          <th>Book Image</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Language</th>
          <th>Pages</th>
          <th>Price</th>
          <th sec:authorize="hasRole('ADMIN')">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
          <td th:text="${book.bookName}"></td>
          <td><img th:src="${book.foto}" height="120px" width="100px"></td>
          <td th:text="${book.booksAuthor}"></td>
          <td th:text="${book.booksPublisher}"></td>
          <td th:text="${book.language}"></td>
          <td th:text="${book.page}"></td>
          <td th:text="${book.price} + '$'"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <form th:action="@{/charge}" method='POST'>
    <input type='hidden' th:value='${amount}' name='amount' />
    <div>
      <label><b>Price:</b> <span th:text="${amount/100}" /></label>
    </div>
    <script
            src='https://checkout.stripe.com/checkout.js'
            class='stripe-button'
            th:attr='data-key=${stripePublicKey},
            data-amount=${amount},
            data-currency=${currency}'
            data-name='Checkout'
            data-description='Checkout example from library'
            data-image='../static/images/pay.png'
            data-locale='auto'
            data-zip-code='false'>
    </script>
  </form>
</section>

