<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>PUBLISHERS LIST</title>
</head>

<body>
<div class="container">

    <h3>PUBLISHERS LIST</h3>
    <hr>
    <a th:href="@{/publishers/add}" class="btn btn-primary btn-sm mb-3" sec:authorize="hasRole('ADMIN')">
        Add Publisher
    </a>
    <form th:action="@{/publishers/search}">
        <div class="form-row align-items-center">
            <div class="col">
                <input type="text" name="keyword" class="form-control mb-10" id="inlineFormInput"
                       placeholder="Author Name" required>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-success">Search</button>
                <a th:href="@{/publishers}" class="btn btn-warning"> Clear</a>
            </div>
        </div>
    </form>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>

            <th>Publisher Name</th>
            <th>Description</th>
            <th sec:authorize="hasRole('ADMIN')">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempPublisher : ${publishers}">

            <td th:text="${tempPublisher.publisherName}"></td>
            <td th:text="${tempPublisher.description}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <div>
                <!-- Add "update" button/link -->
                    <a th:href="@{'/publishers/edit/{id}' (id=${tempPublisher.getId()})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                </div>
                <div>
                <!-- Add "delete" button/link -->
                    <a th:href="@{'/publishers/delete/{id}' (id=${tempPublisher.getId()})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this publisher?'))) return false">
                    Delete
                </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>