<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">


</head>
<body>
<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border border">
                    <h3 class="bg-gray p-4">Register Now</h3>
                    <form form th:action="@{/register}" th:method="POST">
                        <fieldset class="p-4">
                            <input type="text" class="border p-3 w-100 my-2" id="name" name="name" placeholder="Full Name">
                            <input type="text" class="border p-3 w-100 my-2" id="username" name="username" placeholder="Username">
                            <input type="password" class="border p-3 w-100 my-2" id="password" name="password" placeholder="Password*">
                            <input type="password" placeholder="Confirm Password*" class="border p-3 w-100 my-2"  id="repeatedPassword" name="repeatedPassword">
                            <input type="date" class="border p-3 w-100 my-2" id="dateOfBirth" name="dateOfBirth"
                                       min="1970-01-01">
                            <div class="loggedin-forgot d-inline-flex my-3">
                                <input type="checkbox" id="registering" class="mt-1">
                                <label for="registering" class="px-2">By registering, you accept our <a class="text-primary font-weight-bold" href="terms-condition.html">Terms & Conditions</a></label>
                            </div>
                            <input type="submit" th:value="Submit" class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold"></input>
                            <a class="mt-3 d-block  text-primary" href="login">Log in</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<div class="container mt-5 mb-5">-->
<!--    <div class="row d-flex align-items-center justify-content-center">-->
<!--        <div class="col-md-6">-->
<!--            <div class="card px-5 py-5">-->
<!--                <div style="text-align: center">-->
<!--                    <h3>Welcome to Library Management System</h3>-->
<!--                </div>-->
<!--                <form th:action="@{/register}" th:method="POST">-->
<!--                    <div class="form-input">-->
<!--                        <i class="fa fa-user-circle"></i>-->
<!--                        <input type="text" class="form-control" id="name" name="name" placeholder="Full Name">-->
<!--                    </div>-->
<!--                    <div class="form-input">-->
<!--                        <input type="text" class="form-control" id="username" name="username" placeholder="Username">-->
<!--                    </div>-->
<!--                    <div class="form-input">-->
<!--                        <i class="fa fa-lock"></i>-->
<!--                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">-->
<!--                    </div>-->
<!--                    <div class="form-input">-->
<!--                        <input type="password" class="form-control" id="repeatedPassword" name="repeatedPassword"-->
<!--                               placeholder="Confirm Password">-->
<!--                    </div>-->

<!--                    <div class="form-check-label">-->
<!--                        <input style="color: black" type="date" id="dateOfBirth" name="dateOfBirth"-->
<!--                               min="1970-01-01">-->
<!--                    </div>-->
<!--                        <input type="submit" th:value="Submit" class="mt-4"></input>-->

<!--                </form>-->
<!--                <div class="text-center mt-4">-->
<!--                    <span>Already a member?</span>-->
<!--                    <a href="login" class="text-decoration-none">Login</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>