<section class="user-profile section " xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
                <div class="sidebar">
                    <!-- User Widget -->
                    <div class="widget user">
                        <!-- User Image -->
                        <div class="image d-flex justify-content-center">
                            <img src="images/user-thumb.jpg" alt="" class="">
                        </div>
                        <!-- User Name -->
                        <h5 class="text-center" th:text="${fullname}"></h5>
                    </div>
                    <!-- Dashboard Links -->
                    <div class="widget dashboard-links">
                        <ul>
                            <li><a class="my-1 d-inline-block" href="#">Savings Dashboard</a></li>
                            <li><a class="my-1 d-inline-block" href="#">Saved Offer <span>(5)</span></a></li>
                            <li><a class="my-1 d-inline-block" href="#">Favourite Stores <span>(3)</span></a></li>
                            <li><a class="my-1 d-inline-block" href="#">Recommended</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0" >

                <div class="widget welcome-message">
                    <h2>Edit profile</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                </div>
                <!-- Edit Personal Info -->
                    <div class="col-lg-12 col-md-12">
                        <div class="widget personal-info">
                            <h3 class="widget-header user">Edit Personal Information</h3>
                            <form th:action="@{/user-profile}" th:method="POST">
                                <!-- Full Name -->
                                <div class="form-group">
                                    <label for="name">Full Name</label>
                                    <input type="text" class="form-control" id="name" name="name"   placeholder="Full name" required>
                                </div>

                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" th:placeholder="${username}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="dateOfBirth">Date of birth</label>
                                    <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth"
                                           min="1970-01-01" required>
                                </div>

                                <div class="form-group choose-file d-inline-flex">
                                    <i class="fa fa-user text-center px-3"></i>
                                    <input type="file" class="form-control-file mt-2 pt-1" id="input-file">
                                </div>

                                <div class="form-group">
                                    <label for="password">Current Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <!-- New Password -->
                                <div class="form-group">
                                    <label for="updatePassword">New Password</label>
                                    <input type="password" class="form-control" id="updatePassword" name="updatePassword" required>
                                </div>
                                <!-- Confirm New Password -->
                                <div class="form-group">
                                    <label for="confirm-password">Confirm New Password</label>
                                    <input type="password" class="form-control" id="confirm-password" name="confirm-password"required>
                                </div>
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-transparent">Save My Changes</button>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
